:root {
  --productColor: #00a3ff;
  --muted-product-color: rgba(255, 255, 255, 0.34);
  --background: transparent;
  --main-color: #282828;
  --info-color: #646464;
  --muted-color: #b1b1b1;
  --border-color: #ebebeb;
  --pic-filter: none;
  --select-color: #06bf04;
  --select-muted-color: rgba(0, 172, 255, 0.21);
  --goods-card-bg: transparent;
  --stress-btn-color: white;
  --stress-btn-bg: #eda703;
}
