:root {
  --productColor: #00a3ff;
  --muted-product-color: rgba(255, 255, 255, 0.34);
  --background: transparent;
  --main-color: #282828;
  --info-color: #646464;
  --muted-color: #b1b1b1;
  --border-color: #ebebeb;
  --pic-filter: none;
  --select-color: #07c160;
  --select-muted-color: rgba(0, 172, 255, 0.21);
  --goods-card-bg: transparent;
  --stress-btn-color: white;
  --stress-btn-bg: #eda703;
  --danger-color: #ca0c0c;
}

%icon-card {
  font-size: 54px;
  width: 1em;
  height: 1em;
  background: center/100% no-repeat;
  position: relative;
  &::after {
    content: attr(data-text);
    font-size: 0.22em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 1;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    -webkit-text-stroke: 0.2px #03a9f4;
  }
}
