/* line 31, ../sass/fgo-icon.scss */
.icon-Icon_Class_Alterego_Gold,
.icon-Icon_Class_Archer_Bronze,
.icon-Icon_Class_Archer_Gold,
.icon-Icon_Class_Archer_Silver,
.icon-Icon_Class_Assassin_Bronze,
.icon-Icon_Class_Assassin_Gold,
.icon-Icon_Class_Assassin_Silver,
.icon-Icon_Class_Avenger_,
.icon-Icon_Class_Avenger_Gold,
.icon-Icon_Class_Avenger_Silver,
.icon-Icon_Class_Berserker_Bronze,
.icon-Icon_Class_Berserker_Gold,
.icon-Icon_Class_Berserker_Silver,
.icon-Icon_Class_Caster_Bronze,
.icon-Icon_Class_Caster_Gold,
.icon-Icon_Class_Caster_Silver,
.icon-Icon_Class_Foreigner_Gold,
.icon-Icon_Class_Lancer_Bronze,
.icon-Icon_Class_Lancer_Gold,
.icon-Icon_Class_Lancer_Silver,
.icon-Icon_Class_Mooncancer_Gold,
.icon-Icon_Class_Rider_Bronze,
.icon-Icon_Class_Rider_Gold,
.icon-Icon_Class_Rider_Silver,
.icon-Icon_Class_Ruler_Bronze,
.icon-Icon_Class_Ruler_Gold,
.icon-Icon_Class_Ruler_Silver,
.icon-Icon_Class_Saber_Gold,
.icon-Icon_Class_Saber_Silver,
.icon-Icon_Class_Shielder_Gold,
.icon-Icon_Class_Shielder_Silver {
  background-size: 2602px, 80px;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Alterego_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: 2px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Archer_Bronze {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -82px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Archer_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -166px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Archer_Silver {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -250px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Assassin_Bronze {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -334px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Assassin_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -418px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Assassin_Silver {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -502px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Avenger_ {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -586px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Avenger_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -670px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Avenger_Silver {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -754px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Berserker_Bronze {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -838px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Berserker_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -922px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Berserker_Silver {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1006px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Caster_Bronze {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1090px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Caster_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1174px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Caster_Silver {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1258px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Foreigner_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1342px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Lancer_Bronze {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1426px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Lancer_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1510px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Lancer_Silver {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1594px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Mooncancer_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1678px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Rider_Bronze {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1762px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Rider_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1846px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Rider_Silver {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -1930px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Ruler_Bronze {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -2014px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Ruler_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -2098px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Ruler_Silver {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -2182px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Saber_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -2266px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Saber_Silver {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -2350px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Shielder_Gold {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 80px;
  height: 80px;
  background-position: -2434px 0;
  background-repeat: no-repeat;
}

/* line 53, ../sass/fgo-icon.scss */
.icon-Icon_Class_Shielder_Silver {
  /* width: px2rem(image-width(sprite-file($icons, $name))+$spacing);
  height: px2rem(image-height(sprite-file($icons, $name))+$spacing);
  background-position: px2rem(nth(sprite-position($icons, $name),1)+$spacing/2 nth(sprite-position($icons, $name),2)+$spacing/2);  */
  width: 78px;
  height: 80px;
  background-position: -2518px 0;
  background-repeat: no-repeat;
}
